<div class="container-fluide">
    <div class="row p-4">
        <div class="col-lg-8">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste placeat ea quia, deleniti obcaecati
                cupiditate consectetur eligendi laudantium asperiores debitis sed dicta repellendus at nemo repellat
                quam? Facilis, sunt. Error?
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste placeat ea quia, deleniti obcaecati
                cupiditate consectetur eligendi laudantium asperiores debitis sed dicta repellendus at nemo repellat
                quam? Facilis, sunt. Error?
            </p>
        </div>
    </div>
</div>