<div class="container-fluide">
    <br>
    <div class="container">
        <br>
        <div class="row mx-auto p-2">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="card ">
                    <img src="../../assets/estudiantes.jpg"
                        class="card-img-top" alt="Card image"
                        style="width: 318; margin: auto;" />
                    <div class="card-block">
                        <h1 class="card-title text text-secondary" style="text-align: center;">
                            Estudiantes
                        </h1>
                        <p class="card-text">Each merged squad salts the wild porter. Should the charmed church dodge a
                            camera? The gown litters the rhyme. Another discrete elevator defects over the target.</p>
                        <div class="abs-center">
                            <button type="button" class="btn btn-success">
                                ESTUDIANTES
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <img src="../../assets/docentes.jpg"
                        class="card-img-top" alt="Card image"
                        style="width: 318; margin: auto;" />
                    <div class="card-block">
                        <h1 class="card-title text text-secondary" style="text-align: center;">
                            Personal Docente
                        </h1>
                        <p class="card-text">Each merged squad salts the wild porter. Should the charmed church dodge a
                            camera? The gown litters the rhyme. Another discrete elevator defects over the target.</p>
                        <div class="abs-center">
                            <button type="button" class="btn btn-success">
                                PERSONAL DOCENTE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="card .img-fluid">
                    <img src="../../assets/personaladministrativo.jpg"
                        class="card-img-top" alt="Card image"
                        style="width: 318; margin: auto;" />
                    <div class="card-block">
                        <h1 class="card-title text text-secondary" style="text-align: center;">
                            Personal Administrativo
                        </h1>
                        <p class="card-text">Each merged squad salts the wild porter. Should the charmed church dodge a
                            camera? The gown litters the rhyme. Another discrete elevator defects over the target.</p>
                        <div class="abs-center">
                            <button type="button" class="btn btn-success">
                                PERSONAL ADMINISTRATIVO
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>