<div class="container-fluide">
    <br>
    <div class="container">
        <div class="row p-2">
            <div class="row mx-auto p-4">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card ">
                        <img src="../../../assets/BE.png" class="card-img-top" alt="Card image"
                            style="width: auto; margin: auto;" />

                        <div class="card-block">
                            <h1 class="card-title text text-secondary" style="text-align: center;">
                                Departamento de Bienestar Estudiantil
                            </h1>
                            <p class="card-text" style="text-align: justify">
                                Departamento encargado de procesar los resultados de las encuestas realizadas a
                                estudiantes, personal docente y personal administrativo para la toma de decisiones en
                                cuanto a los valores obtenidos en el proceso.
                            </p>
                            <div class="abs-center">
                                <button (click)="irLogin()" type="button" class="btn btn-success">
                                    INGRESAR
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card .img-fluid">
                        <img src="../../../assets/evaluación.jpg" class="card-img-top" alt="Card image"
                            style="width: auto; margin: auto;" />

                        <div class="card-block">
                            <br>
                            <h1 class="card-title text text-secondary" style="text-align: center;">
                                Evaluaciones Psicológicas
                            </h1>
                            <p class="card-text" style="text-align: center">
                                Evaluaciones psicológicas para conocer la depresión y ansiedad de la comunidad universitaria
                            </p>
                            <br>
                            <div class="abs-center">
                                <button (click)="irCategorias()" type="button" class="btn btn-success">
                                    REALIZAR EVALUACIÓN
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>