<div class="container-fluide">
    <br>
    <div class="container">
        <div class="row p-2">
            <div class="row mx-auto p-4">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card ">
                        <img src="../../../assets/BE.png" class="card-img-top" alt="Card image"
                            style="width: auto; margin: auto;" />

                        <div class="card-block">
                            <h3 class="card-title" style="text-align: center;"> This is a title</h3>
                            <p class="card-text">Each merged squad salts the wild porter. Should the charmed church
                                dodge a
                                camera? The gown litters the rhyme. Another discrete elevator defects over the target.
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card .img-fluid">
                        <img src="../../../assets/evaluación.jpg" class="card-img-top" alt="Card image"
                            style="width: auto; margin: auto;" />

                        <div class="card-block">
                            <br>
                            <h3 class="card-title" style="text-align: center;">
                                This is a title
                            </h3>
                            <p class="card-text">Each merged squad salts the wild porter. Should the charmed church
                                dodge a
                                camera? The gown litters the rhyme. Another discrete elevator defects over the target.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>