<div class="container-fluide">  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="navbar-brand nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Inicio</a>
                        <a class="dropdown-item" href="https://upec.edu.ec/">UPEC</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row p-4">
        <div class="col-lg-8">
            <img class="img-fluid" src="../../../assets/poster-tour.jpg" alt="" width="450%" height="450%">
        </div>
        <div class="col-lg-4">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste placeat ea quia, deleniti obcaecati
                cupiditate consectetur eligendi laudantium asperiores debitis sed dicta repellendus at nemo repellat
                quam? Facilis, sunt. Error?
            </p>
        </div>
    </div>
</div>