<mat-dialog-content class="mat-typography">
    <h1 class="text text-secondary" style="text-align: center;">CONSENTIMIENTO INFORMADO</h1>
    <hr>
    <p>
        fadfasfasfasfsafaf
    </p>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-success btn-block" (click)="irCategorias()" >
                    CONTINUAR
                </button>
            </div>
            <div class="col-6">
                <button mat-dialog-close type="button" class="btn btn-dark btn-block">
                    CANCELAR
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>