<div class="container-fluid">
    <br>
    <div class="container">
        <br>
        <br>
        <div class="row p-4">
            <div class="col-lg-6">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste placeat ea quia, deleniti obcaecati
                    cupiditate consectetur eligendi laudantium asperiores debitis sed dicta repellendus at nemo repellat
                    quam? Facilis, sunt. Error?
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste placeat ea quia, deleniti obcaecati
                    cupiditate consectetur eligendi laudantium asperiores debitis sed dicta repellendus at nemo repellat
                    quam? Facilis, sunt. Error?
                </p>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="centrado">
            <button class="button button-block button-positive" ng-click="facebookLogin()" style="width:250px;">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Continuar con facebook
            </button>
        </div>
    </div>
</div>"